.items-1 {
  width: 100%;
}
.items-2 {
  width: calc(50%);
}

.items-3 {
  width: calc(100% / 3);
}

.items-4 {
  width: calc(100% / 4);
}

.items-5 {
  width: calc(100% / 5);
}

.items-6 {
  width: calc(100% / 6);
}
.cardWrapper {
  display: flex;
  flex-direction: column;
}
.cardWrapper {
  border-top: 0;
}
.dayAndDayNo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  max-width: 100%;
  width: auto;
  border: 6px solid var(--textColor);
  background: var(--secondaryColor);
  border-bottom: none;
  padding: 18px;
}
.day,
.dayNo {
  font-size: 25px;
  font-weight: 700;
  color: var(--textColor);
  text-transform: uppercase;
}
.box {
  height: 100%;
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.title {
  font-size: 26px;
  font-weight: 600;
  color: var(--textColor);
  text-decoration: underline;
}
.info {
  font-size: 26px;
  color: var(--textColor);
}
